* {
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
}

#child{
    flex: 0 0 5.88%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}